$green: #A8B275;
$orange: rgba(255, 165, 0, 1);
body{
  font-family: 'Open Sans Condensed', sans-serif;

}
.row{
  margin-top:7%;
  padding:0 5%;
  h1{
    color:$orange;
  }
}

.navbar{
  background-color:rgba(255, 255, 255, .6);
  position:fixed;
  top:0;
  width:100%;
  border:none;
  border-bottom: 2px solid $orange;
  z-index:1;
  .navbar-brand{
    color:$green;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 1px #000;
  }
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  color:black;
}
header{
  width:100%;
  color:white;
  padding-top:6%;
  padding-bottom:6%;
  text-align:center;
  z-index:2;
  h1{
    font-family: 'Pacifico', cursive;
    font-size:10em;
    text-shadow: 1px 1px 1px #000;
    margin-top:10%;
  }

}
.bgImage{
  width:100%;
  height:600px;
  background: url(/assets/images/veggies.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about{
  background-color:rgba(255, 165, 0, 1);
  padding:5%;
  color:white;
  a{
    color:$green;
  }
}


.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color:$green;
}
.third{
  margin-top:6%;
  text-align:center;
  width:33%;
  display:inline-block;
  vertical-align:top;
  h2{
    color:$orange;
  }

  img{
    border-radius:100%;
    margin-bottom:6%;
    width:50%;
  }
  ul{
    text-align:left;
  }
}
@media all and (max-width: 800px){
  .third{
    width:80%;
    margin-left:10%;
    text-align:left;

    img{
      width:20%;
      margin-right:10%;
      margin-top:5%;
      display:inline-block;
      vertical-align:top;
    }
    .insideThird{
      width:69%;
      display:inline-block;
    }
  }
  header{
    h1{
      margin-top:25%;
    }
  }
}
@media all and (max-width: 550px){
  .third{
    width:100%;
    text-align:left;
    margin:0;
    padding:2%;

    img{
      display:none;
    }
    .insideThird{
      width:100%;
    }
  }
  header{
    h1{
      font-size:8em;
    }
  }
}
@media all and (max-width:450px){
  header{
    h1{
      font-size:5em;
      margin-top:30%;
    }
  }
  .bgImage{
    height:300px;
  }
}
