$orange: rgba(255, 165, 0, 1);
.faq{
  padding:5%;
  margin-top:7%;
  h1{
    color:$orange;
    margin:0;
    padding:0;
    padding-bottom:2%;
    text-shadow: 1px 1px 1px #000;
  }
}

.faqbox{
  vertical-align:top;
  width:100%;
  display:inline-block;
  background-color: rgba(255, 255, 255, .5);
}
@media all and (max-width:500px){
  .faq{
    margin-top:12%;
  }
}
