$orange: rgba(255, 165, 0, 1);
$green: #A8B275;
button{
  background-color:$orange;
  border:none;
  text-size:2em;
  padding:1%;
}
input, textarea{
  width:100%;
  font-size:1.25em;
  border:1.5px solid $green;
  margin-bottom:1%;
  padding:1%;
}
table{
  width:100%;
  th,td{
    width:12%;
  }
}
.title{
  text-align:center;
  h1{
    color:$orange,
  }
  h2{
    color:$green;
  }
  select{
    font-size:1.5em;
    width:25%;
    border:1px solid $orange;
  }
  span{
    font-family: 'Pacifico', cursive;
    color:$green;
  }
}
.profile{
  margin-top:5%;
}
form{
  width:80%;
  margin-left:10%;
  margin-bottom:10%;
  h2{
    color:$orange;
  }
}
@media all and (max-width:500px){
  form{
    width:100%;
    margin:0;
  }
  .login{
    margin-top:10%;
  }
}
