<div ng-include="'components/fonts.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="profile">
<div class="container">
  <div>
  <button class="btn btn-default" ng-click="editCollapse = !editCollapse">Edit Profile</button>
  <button class="btn btn-default" ng-show="cup.accType === 'vendor'" ng-click="csaCollapse = !csaCollapse"> Add CSA Box</button>
  <button class="btn btn-default" ng-show="cup.accType === 'consumer'" ng-click="custCollapse = !custCollapse">View Shares</button>
  <button class="btn btn-default" ng-show="cup.accType === 'vendor'" ng-click="shareCollapse = !shareCollapse"> View Shareholders</button>
  <div collapse="editCollapse">
    <div class="well well-lg">
      <form action="" ng-submit="editPro(cup)">
        <input type="text" ng-model="cup.name">
        <input type="text" ng-model="cup.email">
        <input type="text" ng-model="cup.website" ng-show="cup.accType === 'vendor'">
        <input type="text" ng-model="cup.phoneNum">
        <input type="text" ng-model="cup.address">
        <select name="" id="" ng-model="cup.category" ng-show="cup.accType === 'vendor'">
          <option value="meat">Meat</option>
          <option value="fish">Fish</option>
          <option value="produce">Produce</option>
          <option value="flowers">Flowers</option>
        </select>
      <textarea name="" id="" cols="30" rows="10" ng-model="cup.info"></textarea>
      <button type="submit">Save Changes</button>
      </form>
    </div>
  </div>
</div>

  <div collapse="csaCollapse">
    <div class="well well-lg">
    <form action="" ng-submit="addBox(box)">
      <p>Title your CSA Box:
      <input type="text" placeholder="Ex: Single Family Box" ng-model="box.name"></p>
      <p>Description:
      <input type="text" placeholder="Ex: Four different veggies" ng-model="box.desc"></p>
      <p>Season:
      <input type="text" placeholder="Ex: August 31-November 31" ng-model="box.season"></p>
      <p>Frequency:
      <input type="text" placeholder="Ex: Every Friday" ng-model="box.frequency"></p>
      <p>Price:
      <input type="Number" ng-model="box.price"></p>
      <p>Pick Up Location:
      <input type="text" placeholder="Ex: Whole Foods, Mt. Pleasant" ng-model="box.pulocation"></p>
      <p>Available Shares:
      <input type="Number" ng-model="box.shares"></p>
      <p>Payment Options:</p>
      <textarea name="" id="" cols="30" rows="10" ng-model="box.payment" placeholder="Please write a message for your customers on how you'd like to be paid. Ex: Please send checks to P.O Box 123"></textarea>
      <button type="submit">Add Box</button>
    </form>
    </div>
  </div>

  <div collapse="shareCollapse">
    <div class="well well-lg" >
      <div ng-repeat="csaBox in myCsas">
      <table>
      <tr>
        <th>CSA</th>
        <th>Frequency</th>
        <th>Pickup Location</th>
        <th>Name</th>
        <th>Location</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Paid?</th>
      </tr>
      <tr ng-repeat="people in csaBox.purchasers">
          <td>{{csaBox.name}}</td>
          <td>{{csaBox.frequency}}</td>
          <td>{{csaBox.pulocation}}</td>
          <td>{{people.name}}</td>
          <td>{{people.location}}</td>
          <td>{{people.email}}</td>
          <td>{{people.phoneNum}}</td>
          <td>{{people.paid}}</td>
      </tr>
    </table>
<!--     <button>Export {{csaBox.name}} Data</button> -->
  </div>
<hr>

    </div>
  </div>


  <div class="aboutCard">
    <img src="/assets/images/box.jpg" alt="">
      <h1>{{cup.name}}</h1>
      <p>{{cup.email}} | {{cup.phoneNum}} | <a href="{{cup.website}}" ng-show="cup.accType === 'vendor'">Website | </a>{{cup.address}}</p>
  </div>
  <hr>
  <div class="profleft">
    <h2>About {{cup.name}}:</h2>
    <p>{{cup.info}}</p>
  </div>
  <div class="profright" ng-show="cup.accType === 'vendor'">

    <h2>CSA Options:</h2>

    <div class="csas" ng-repeat="csaBox in myCsas">
      <h3>{{csaBox.name}}: ${{csaBox.price}}</h3>
      <ul>
        <li>About: {{csaBox.desc}}</li>
        <li>Season: {{csaBox.season}}</li>
        <li>Frequency: {{csaBox.frequency}}</li>
        <li>Available Shares: {{csaBox.shares - csaBox.purchasers.length}}</li>
      </ul>
      <button ng-click="edit=!edit">Edit</button>
      <button ng-click="removeBox(csaBox._id)">Remove</button>
      <form ng-show="edit" ng-submit="editBox(csaBox)">
        <input type="text" ng-model="csaBox.name">
        <input type="text"  ng-model="csaBox.desc">
        <input type="text"  ng-model="csaBox.frequency">
        <input type="number"  ng-model="csaBox.shares">
        <input type="number" ng-model="csaBox.price">
        <textarea name="" id="" cols="30" rows="10" ng-model="csaBox.payment">{{csaBox.payment}}</textarea>
        <button type="submit">Save Changes</button>
      </form>

    </div>
  </div>
